#jinja2: trim_blocks: True, lstrip_blocks: True
---
# {{ ansible_managed }}

certbot:
  domains:
{% for domain in certbot_tls_certificates %}
    - {{ domain.get('domain') }}
{% endfor %}
  conf_dir: {{ certbot_config.conf_directory }}
  acme_dir: {{ certbot_config.www_directory | default('/var/www/certbot') }}
  rsa_key_size: {{ certbot_config.rsa_key_size | default('4096') }}
  email: {{ certbot_config.email }}
  expire_days_limit: {{ certbot_config.expire_days_limit | default('20') }}

{% if certbot_notification is defined and
      certbot_notification.enabled | default('false') | bool %}
notification:
  enabled: true
  smtp:
    server_name: {{ certbot_notification.smtp.server_name | default('') }}
    port: {{ certbot_notification.smtp.port | default('') }}
    tls: false
  {% if certbot_notification.smtp.auth | default({}) is defined and
        certbot_notification.smtp.auth.username | default('') | string | length > 0 and
        certbot_notification.smtp.auth.password | default('') | string | length > 0 %}
    auth:
      username: {{ certbot_notification.smtp.auth.username | default('') }}
      password: {{ certbot_notification.smtp.auth.password | default('') }}
  {% endif %}
  sender: {{ certbot_notification.sender | default('') }}
  recipient: {{ certbot_notification.recipient | default('') }}
{% endif %}

{% if certbot_restart_services | default([] ) | count > 0 %}
restarts:
  {% for service in certbot_restart_services %}
  - service: {{ service.get('service') }}
  {% endfor %}
{% endif %}
