# {{ ansible_managed }}
# Issuer: {{ issuer.name }}

LEGO_ISSUER_NAME="{{ issuer.name }}"
LEGO_SERVER="{{ issuer.server }}"
LEGO_EMAIL="{{ issuer.email }}"
{% if issuer.ca_certificate is defined %}
LEGO_CA_CERT="{{ issuer.ca_certificate }}"
{% endif %}

LEGO_CHALLENGE_TYPE="{{ issuer.challenge.type }}"
{% if issuer.challenge.type == 'dns' %}
LEGO_CHALLENGE_PROVIDER="{{ issuer.challenge.provider }}"
{% elif issuer.challenge.type == 'http' %}
LEGO_CHALLENGE_WEBROOT="{{ issuer.challenge.webroot }}"
{% endif %}

{% if issuer.eab is defined %}
LEGO_EAB_KID="{{ issuer.eab.kid }}"
LEGO_EAB_HMAC="{{ issuer.eab.hmac_key }}"
{% endif %}

{% if issuer.challenge.env is defined %}
# Provider-specific env vars
{% for key, value in issuer.challenge.env.items() %}
{{ key }}="{{ value }}"
{% endfor %}
{% endif %}
