{{ ansible_managed | comment }}

[Unit]
Description       = step-ca
Documentation     =
After             = syslog.target network.target

[Service]
Type              = simple
EnvironmentFile   = {{ ca_defaults_directory }}/step-ca

User              = {{ ca_system.owner }}
Group             = {{ ca_system.group }}

ExecStart         = /usr/bin/step-ca $OPTIONS

Restart           = on-failure
RestartSec        = 10s
TimeoutStopSec    = 20s

[Install]
WantedBy          = multi-user.target
