#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = Run Certbot twice daily

[Timer]
# basic format: * *-*-* *:*:*
#               |   |     +---- *:*:*    is to signify the time component of the calnedar event. So it is - hour:minute:second
#               |   +---------- *-*-*    To signify the calendar date. Which means it breaks down to - year-month-date.
#               +--------------          To signify the day of the week eg:- Sat,Thu,Mon
#
# OnCalendar          = *-*-* 00/12:00:00
OnCalendar          = {{ certbot_cron.weekday | default('') }} *-*-* {{ certbot_cron.hour | default('2') }}:{{ certbot_cron.minute | default('58') }}:00
Persistent          = true
RandomizedDelaySec  = 12h

[Install]
WantedBy            = timers.target
